In [ ]:
#data reading library
import pandas as pd


#libraries for encoding / vectorizing
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder

#train test split
from sklearn.model_selection import train_test_split

#Ml model
from sklearn.naive_bayes import MultinomialNB

#checking accuracy
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
#importing dataset
df=pd.read_csv('ML_data.csv')

In [ ]:
df.head()

,Unnamed: 0,index,category,description,keywords,plot
0,0,36956,politics,number of sanctuary congregations doubles sinc...,"(sanctuary, congregations, doubles, ’s electio...",sanctuary congregations doubles s election mo...
1,1,40229,politics,trump and russia: will anything be done? it is...,"(russia, apparent, russia's, election, stories...",russia apparent russia s election stories att...
2,2,85246,entertainment,kylie jenner dons a bra top & sheer skirt to '...,"(kylie jenner, skirt, paper towns', screening,...",kylie jenner skirt paper towns screening invi...
3,3,122674,art/culture,street photography in stockholm (pt. 2) i want...,"(street photography, quenches, authenticity, p...",street photography quenches authenticity pers...
4,4,180230,travel,the difference between inner and outer mongoli...,"(inner, outer mongolia, photos, flight, boston...",inner outer mongolia photos flight boston cap...

In [ ]:
#deleting unwanted rows
df.drop(['Unnamed: 0','index','description','keywords'],axis=1, inplace=True)

In [ ]:
df.head()

        category                                               plot
0       politics   sanctuary congregations doubles s election mo...
1       politics   russia apparent russia s election stories att...
2  entertainment   kylie jenner skirt paper towns screening invi...
3    art/culture   street photography quenches authenticity pers...
4         travel   inner outer mongolia photos flight boston cap...

### Encoding category column

In [ ]:
le = LabelEncoder()
  
df['encoded_category']= le.fit_transform(df['category'])

In [ ]:
df.head()

,category,plot,encoded_category
0,politics,sanctuary congregations doubles s election mo...,8
1,politics,russia apparent russia s election stories att...,8
2,entertainment,kylie jenner skirt paper towns screening invi...,3
3,art/culture,street photography quenches authenticity pers...,0
4,travel,inner outer mongolia photos flight boston cap...,10

In [ ]:
#printing Encoded values corresponding to categories

a=df['category'].unique()
b=df['category']
c=df['encoded_category']
list1=[]
for i in a:
    for j in range(len(b)):
        if b[j]==i:
            list1.append(j)
            break


for i in list1:
    print(f"{b[i]} : {c[i]}")

politics : 8
entertainment : 3
art/culture : 0
travel : 10
environment : 4
sports : 9
international : 6
food & drink : 5
business : 1
lifestyle : 7
education/Tech/science : 2

### Vectorizing plot column

In [ ]:
tfidf = TfidfVectorizer()
feature= tfidf.fit_transform(df['plot']).toarray()

### Creating X ,y variables

In [ ]:
X=feature
y=df['encoded_category']

###  Train Test split

In [ ]:

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

### Fitting Naive_Bayes

In [ ]:

clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB()

### Predict Values

In [ ]:

y_pred=clf.predict(X_test)

### Calculating Model Accuracy

In [ ]:
#calculating accuracy

accuracy_score(y_test,y_pred)

0.7024838012958964

In [ ]:
#creating confusion metrics

confusion_matrix(y_test, y_pred)

array([[388,  18,  29,  50,  28,   6,  35,  23,  41,  15,  40],
       [ 12, 459,  66,   7,  36,  12,  34,  21,  44,  16,  18],
       [ 26,  52, 398,  18,  48,  14,  22,  23,  26,  14,  21],
       [ 36,  13,  22, 430,  19,  14,  15,  51,  44,  24,  20],
       [ 12,  16,  18,  10, 486,  14,  14,   9,  30,  11,  34],
       [  5,  15,   8,  13,  15, 570,   3,  19,   1,   5,  26],
       [ 17,  17,  21,   6,  37,   1, 518,   9,  22,   7,  17],
       [ 20,  41,  25,  30,  26,  31,  10, 432,  19,  11,  19],
       [ 19,  37,  18,  11,  23,   4,  68,   8, 444,   8,   4],
       [ 11,   5,  12,  23,  11,   0,  11,   9,  19, 562,  12],
       [ 20,  19,   8,   6,  24,  22,  24,  15,   5,  11, 517]],
      dtype=int64)

In [ ]:
#classification report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.69      0.58      0.63       673
           1       0.66      0.63      0.65       725
           2       0.64      0.60      0.62       662
           3       0.71      0.62      0.67       688
           4       0.65      0.74      0.69       654
           5       0.83      0.84      0.83       680
           6       0.69      0.77      0.73       672
           7       0.70      0.65      0.67       664
           8       0.64      0.69      0.66       644
           9       0.82      0.83      0.83       675
          10       0.71      0.77      0.74       671

    accuracy                           0.70      7408
   macro avg       0.70      0.70      0.70      7408
weighted avg       0.70      0.70      0.70      7408